In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!unzip AdharData.zip

Archive:  AdharData.zip
  inflating: 20191127_State of Aadhaar_Pulse survey_mem.csv

In [ ]:
dataset = pd.read_csv('Data.csv')
dataset.head(5)

   Unnamed: 0     hh_id  ... cal_education_yrs                  cal_correct_card
0           1  77051739  ...                17  Yes or No Response or Don't Know
1           2  77051739  ...                 9  Yes or No Response or Don't Know
2           3  77051739  ...                12  Yes or No Response or Don't Know
3           4  77051739  ...                12                                No
4           5  77051739  ...                10  Yes or No Response or Don't Know

[5 rows x 63 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575127 entries, 0 to 575126
Data columns (total 63 columns):
 #   Column                                                                 Non-Null Count   Dtype
---  ------                                                                 --------------   -----
 0   Unnamed: 0                                                             575127 non-null  int64
 1   hh_id                                                                  575127 non-null  int64
 2   state_hr                                                               575127 non-null  object
 3   country                                                                575127 non-null  object
 4   state                                                                  575127 non-null  object
 5   district_name                                                          575127 non-null  object
 6   region_type                                                            575127 non-null  object
 7   state_of_origin                                                        575127 non-null  object
 8   town_village                                                           575127 non-null  object
 9   hr_regtype_strata                                                      575127 non-null  object
 10  mem_id                                                                 575127 non-null  int64
 11  gender                                                                 575127 non-null  object
 12  literacy                                                               575127 non-null  object
 13  occupation                                                             575127 non-null  object
 14  mem_weight_ge15_hr_regtype_strata_sample_wave                          575127 non-null  float64
 15  mem_weight_extn_ge15_hr_regtype_strata_sample_wave                     575127 non-null  float64
 16  mem_weight_extn_ge15_hr_regtype_strata_within_state_sample_wave        575127 non-null  float64
 17  non_response_factor_mem_ge15_hr_regtype_strata_wave                    575127 non-null  float64
 18  non_response_factor_mem_extn_ge15_hr_regtype_strata_wave               575127 non-null  float64
 19  non_response_factor_mem_extn_ge15_hr_regtype_strata_within_state_wave  575127 non-null  float64
 20  mem_weight_all_hr_regtype_strata_sample_wave                           575127 non-null  float64
 21  mem_weight_extn_all_hr_regtype_strata_sample_wave                      575127 non-null  float64
 22  mem_weight_extn_all_hr_regtype_strata_within_state_sample_wave         575127 non-null  float64
 23  non_response_factor_mem_all_hr_regtype_strata_wave                     575127 non-null  float64
 24  non_response_factor_mem_extn_all_hr_regtype_strata_wave                575127 non-null  float64
 25  non_response_factor_mem_extn_all_hr_regtype_strata_within_state_wave   575127 non-null  float64
 26  religion                                                               575127 non-null  object
 27  caste_category                                                         575127 non-null  object
 28  education                                                              575127 non-null  object
 29  relation_with_hoh                                                      575127 non-null  object
 30  employment_status                                                      575127 non-null  object
 31  emp_arrangement                                                        575127 non-null  object
 32  has_aadhaar                                                            575127 non-null  object
 33  correct_name                                                           575127 non-null  object
 34  correct_dob                                                            575127 non-null  object
 35  correct_gender                                                         575127 non-null  object
 36  correct_address                                                        575127 non-null  object
 37  correct_photo                                                          575127 non-null  object
 38  correct_mobile                                                         575127 non-null  object
 39  used_mnrega                                                            575127 non-null  object
 40  used_other_employment_schemes                                          575127 non-null  object
 41  used_received_payments_govt_schemes                                    575127 non-null  object
 42  used_ss_pensions                                                       575127 non-null  object
 43  used_workers_pension_scheme                                            575127 non-null  object
 44  used_ayushmaan_bharat                                                  575127 non-null  object
 45  used_scholarships                                                      575127 non-null  object
 46  used_open_bank_account                                                 575127 non-null  object
 47  used_make_payments                                                     575127 non-null  object
 48  used_insurance                                                         575127 non-null  object
 49  used_debt_loan                                                         575127 non-null  object
 50  used_sim_phone                                                         575127 non-null  object
 51  used_school_college                                                    575127 non-null  object
 52  used_mdm                                                               575127 non-null  object
 53  used_transport                                                         575127 non-null  object
 54  used_get_another_id                                                    575127 non-null  object
 55  used_job_application                                                   575127 non-null  object
 56  used_age_proof                                                         575127 non-null  object
 57  used_land_vehicle_house_marriage_registration                          575127 non-null  object
 58  cal_age_in_yrs                                                         575127 non-null  float64
 59  cal_age_type                                                           575127 non-null  object
 60  cal_employment                                                         575127 non-null  object
 61  cal_education_yrs                                                      575127 non-null  int64
 62  cal_correct_card                                                       575127 non-null  object
dtypes: float64(13), int64(4), object(46)
memory usage: 276.4+ MB

In [ ]:
Unwanted_Columns = ['Unnamed: 0',
                    'hr_regtype_strata',
                    'mem_id',
                    'mem_weight_ge15_hr_regtype_strata_sample_wave',
                    'mem_weight_extn_ge15_hr_regtype_strata_sample_wave',
                    'mem_weight_extn_ge15_hr_regtype_strata_within_state_sample_wave',
                    'non_response_factor_mem_ge15_hr_regtype_strata_wave',
                    'non_response_factor_mem_extn_ge15_hr_regtype_strata_wave',
                    'non_response_factor_mem_extn_ge15_hr_regtype_strata_within_state_wave',
                    'mem_weight_all_hr_regtype_strata_sample_wave',
                    'mem_weight_extn_all_hr_regtype_strata_sample_wave',
                    'mem_weight_extn_all_hr_regtype_strata_within_state_sample_wave',
                    'non_response_factor_mem_all_hr_regtype_strata_wave',
                    'non_response_factor_mem_extn_all_hr_regtype_strata_wave',
                    'non_response_factor_mem_extn_all_hr_regtype_strata_within_state_wave',
                    'relation_with_hoh',
                    'emp_arrangement',
                    'used_mnrega',
                    'used_received_payments_govt_schemes',
                    'used_ss_pensions',
                    'used_workers_pension_scheme',
                    'used_ayushmaan_bharat','used_make_payments','used_mdm','used_transport',
                    'religion',
                    'caste_category'
                    ]

In [ ]:
dataset.drop(Unwanted_Columns, axis = 1, inplace = True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575127 entries, 0 to 575126
Data columns (total 36 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   hh_id                                          575127 non-null  int64
 1   state_hr                                       575127 non-null  object
 2   country                                        575127 non-null  object
 3   state                                          575127 non-null  object
 4   district_name                                  575127 non-null  object
 5   region_type                                    575127 non-null  object
 6   state_of_origin                                575127 non-null  object
 7   town_village                                   575127 non-null  object
 8   gender                                         575127 non-null  object
 9   literacy                                       575127 non-null  object
 10  occupation                                     575127 non-null  object
 11  education                                      575127 non-null  object
 12  employment_status                              575127 non-null  object
 13  has_aadhaar                                    575127 non-null  object
 14  correct_name                                   575127 non-null  object
 15  correct_dob                                    575127 non-null  object
 16  correct_gender                                 575127 non-null  object
 17  correct_address                                575127 non-null  object
 18  correct_photo                                  575127 non-null  object
 19  correct_mobile                                 575127 non-null  object
 20  used_other_employment_schemes                  575127 non-null  object
 21  used_scholarships                              575127 non-null  object
 22  used_open_bank_account                         575127 non-null  object
 23  used_insurance                                 575127 non-null  object
 24  used_debt_loan                                 575127 non-null  object
 25  used_sim_phone                                 575127 non-null  object
 26  used_school_college                            575127 non-null  object
 27  used_get_another_id                            575127 non-null  object
 28  used_job_application                           575127 non-null  object
 29  used_age_proof                                 575127 non-null  object
 30  used_land_vehicle_house_marriage_registration  575127 non-null  object
 31  cal_age_in_yrs                                 575127 non-null  float64
 32  cal_age_type                                   575127 non-null  object
 33  cal_employment                                 575127 non-null  object
 34  cal_education_yrs                              575127 non-null  int64
 35  cal_correct_card                               575127 non-null  object
dtypes: float64(1), int64(2), object(33)
memory usage: 158.0+ MB

In [ ]:
print(dataset.columns)

Index(['hh_id', 'state_hr', 'country', 'state', 'district_name', 'region_type',
       'state_of_origin', 'town_village', 'gender', 'literacy', 'occupation',
       'education', 'employment_status', 'has_aadhaar', 'correct_name',
       'correct_dob', 'correct_gender', 'correct_address', 'correct_photo',
       'correct_mobile', 'used_other_employment_schemes', 'used_scholarships',
       'used_open_bank_account', 'used_insurance', 'used_debt_loan',
       'used_sim_phone', 'used_school_college', 'used_get_another_id',
       'used_job_application', 'used_age_proof',
       'used_land_vehicle_house_marriage_registration', 'cal_age_in_yrs',
       'cal_age_type', 'cal_employment', 'cal_education_yrs',
       'cal_correct_card'],
      dtype='object')

In [ ]:
print('Unique values from region_type - ')
print(dataset["region_type"].unique())

print('\nUnique values from gender - ')
print(dataset["gender"].unique())

print('\nUnique values from literacy - ')
print(dataset["literacy"].unique())

print('\nUnique values from occupation - ')
print(dataset["occupation"].unique())

print('\nUnique values from education - ')
print(dataset["education"].unique())

print('\nUnique values from Employment_status - ')
print(dataset["employment_status"].unique())

print('\nUnique values from correct_name - ')
print(dataset["correct_name"].unique())

print('\nUnique values from correct_dob - ')
print(dataset["correct_dob"].unique())

print('\nUnique values from correct_gender - ')
print(dataset["correct_gender"].unique())

print('\nUnique values from correct_address - ')
print(dataset["correct_address"].unique())

print('\nUnique values from correct_mobile - ')
print(dataset["correct_mobile"].unique())

print('\nUnique values from correct_photo - ')
print(dataset["correct_photo"].unique())

print('\nUnique values from used_scholarships - ')
print(dataset["used_scholarships"].unique())

print('\nUnique values from cal_age_type - ')
print(dataset["cal_age_type"].unique())

print('\nUnique values from cal_employment - ')
print(dataset["cal_employment"].unique())

print('\nUnique values from has_aadhaar - ')
print(dataset["has_aadhaar"].unique())

print('\nUnique values from cal_correct_card - ')
print(dataset["cal_correct_card"].unique())

Unique values from region_type -
['RURAL' 'URBAN']

Unique values from gender -
['M' 'F']

Unique values from literacy -
['Y' 'Not Applicable' 'N']

Unique values from occupation -
['Retired/Aged' 'Self Employed Entrepreneur' 'Unoccupied' 'Student'
 'White Collar Clerical Employees' 'Home Maker' 'Wage Labourer'
 'Businessman' 'Support Staff' 'Home-based Worker'
 'White-Collar Professional Employees and Other Employees'
 'Legislator/Social Worker/ Activists' 'Agricultural Labourer'
 'Non-Industrial Technical Employee'
 'Qualified Self Employed Professionals' 'Organised Farmer'
 'Small Trader/Hawker/ Businessman without Fixed Premises'
 'NonSchooling Child' 'Industrial Workers' 'Small Farmer' 'Manager'
 'White collar worker']

Unique values from education -
['Post Graduate' '9th Std. Pass' '12th Std. Pass' '10th Std. Pass'
 '7th Std. Pass' '5th Std. Pass' '11th Std. Pass' '8th Std. Pass'
 '4th Std. Pass' '2nd Std. Pass' '1st Std. Pass' 'Graduate'
 '6th Std. Pass' '3rd Std. Pass' 'Ph.D / M.Phil' 'No Education']

Unique values from Employment_status -
['Unemployed, not willing and not looking for a job' 'Employed'
 'Unemployed, willing and looking for a job'
 'Unemployed, willing but not looking for a job' 'Not Applicable']

Unique values from correct_name -
['Yes' 'Not Applicable' 'No' 'No Response' "Don't Know"]

Unique values from correct_dob -
['Yes' 'No' 'Not Applicable' 'No Response' "Don't Know"]

Unique values from correct_gender -
['Yes' 'Not Applicable' 'No' "Don't Know" 'No Response']

Unique values from correct_address -
['Yes' 'Not Applicable' 'No' "Don't Know" 'No Response']

Unique values from correct_mobile -
['No' 'Not Applicable' 'Yes' "Don't Know" 'No Response']

Unique values from correct_photo -
['Yes' 'Not Applicable' 'No' 'No Response' "Don't Know"]

Unique values from used_scholarships -
['No' 'Not Applicable' 'Yes' "Don't Know" 'No Response']

Unique values from cal_age_type -
['adult' '6 to 17 years' '0 to 5 years']

Unique values from cal_employment -
['Unemployed, not willing and not looking for a job' 'Self-employed'
 'Unemployed, willing and looking for a job'
 'Unemployed, willing but not looking for a job' 'Salaried - Permanent'
 'Not Applicable' 'Daily Wage worker/ Casual labour'
 'Salaried - Temporary' 'Data Not Available']

Unique values from has_aadhaar -
['Yes' 'No' 'I Lost it' "Don't Know" 'No Response']

Unique values from cal_correct_card -
["Yes or No Response or Don't Know" 'No']

#Data Preprocessing

In [ ]:
dataset['literacy'] = dataset['literacy'].replace(['Not Applicable'],dataset['literacy'].mode())

In [ ]:
dataset.head(25)
print(dataset['literacy'].unique())

['Y' 'N']

In [ ]:
dataset['employment_status'] = dataset['employment_status'].replace(['Unemployed, not willing and not looking for a job'],'Unemployed')
dataset['employment_status'] = dataset['employment_status'].replace(['Not Applicable'],'Unemployed')

In [ ]:
#dataset['employment_status'] = dataset['employment_status'].replace(['Unemployed, willing and looking for a job'],'Unemployed')
#dataset['employment_status'] = dataset['employment_status'].replace(['Unemployed, willing but not looking for a job'],'Unemployed')
print(dataset['employment_status'].unique())

['Unemployed' 'Employed']

In [ ]:
dataset['correct_name'] = dataset['correct_name'].replace(['No Response'],dataset['correct_name'].mode())
dataset['correct_name'] = dataset['correct_name'].replace(['Don\'t Know'],dataset['correct_name'].mode())
dataset['correct_dob'] = dataset['correct_dob'].replace(['No Response'],dataset['correct_dob'].mode())
dataset['correct_dob'] = dataset['correct_dob'].replace(['Don\'t Know'],dataset['correct_dob'].mode())
dataset['correct_mobile'] = dataset['correct_mobile'].replace(['No Response'],dataset['correct_mobile'].mode())
dataset['correct_mobile'] = dataset['correct_mobile'].replace(['Don\'t Know'],dataset['correct_mobile'].mode())
dataset['correct_gender'] = dataset['correct_gender'].replace(['No Response'],dataset['correct_gender'].mode())
dataset['correct_gender'] = dataset['correct_gender'].replace(['Don\'t Know'],dataset['correct_gender'].mode())
dataset['correct_address'] = dataset['correct_address'].replace(['No Response'],dataset['correct_address'].mode())
dataset['correct_address'] = dataset['correct_address'].replace(['Don\'t Know'],dataset['correct_address'].mode())
dataset['correct_photo'] = dataset['correct_photo'].replace(['No Response'],dataset['correct_photo'].mode())
dataset['correct_photo'] = dataset['correct_photo'].replace(['Don\'t Know'],dataset['correct_photo'].mode())
dataset['used_scholarships'] = dataset['used_scholarships'].replace(['No Response'],dataset['used_scholarships'].mode())
dataset['used_scholarships'] = dataset['used_scholarships'].replace(['Don\'t Know'],dataset['used_scholarships'].mode())

In [ ]:
print('\nUnique values from correct_name - ')
print(dataset["correct_name"].unique())

print('\nUnique values from correct_dob - ')
print(dataset["correct_dob"].unique())

print('\nUnique values from correct_gender - ')
print(dataset["correct_gender"].unique())

print('\nUnique values from correct_address - ')
print(dataset["correct_address"].unique())

print('\nUnique values from correct_mobile - ')
print(dataset["correct_mobile"].unique())

print('\nUnique values from correct_photo - ')
print(dataset["correct_photo"].unique())

print('\nUnique values from used_scholarships - ')
print(dataset["used_scholarships"].unique())

Unique values from correct_name -
['No' 'Not Applicable' 'Yes']

Unique values from correct_dob -
['Yes' 'No' 'Not Applicable']

Unique values from correct_gender -
['Yes' 'Not Applicable' 'No']

Unique values from correct_address -
['Yes' 'Not Applicable' 'No']

Unique values from correct_mobile -
['No' 'Not Applicable' 'Yes']

Unique values from correct_photo -
['Yes' 'Not Applicable' 'No']

Unique values from used_scholarships -
['No' 'Not Applicable' 'Yes']

In [ ]:
dataset['has_aadhaar'] = dataset['has_aadhaar'].replace(['No Response'],dataset['has_aadhaar'].mode())
dataset['has_aadhaar'] = dataset['has_aadhaar'].replace(['Don\'t Know'],dataset['has_aadhaar'].mode())
print(dataset['has_aadhaar'].unique())

['Yes' 'No' 'I Lost it']

In [ ]:
dataset['cal_correct_card'] = dataset['cal_correct_card'].replace(['Yes or No Response or Don\'t Know'],'Yes')
print(dataset['cal_correct_card'].unique())

['Yes' 'No']

In [ ]:
dataset['cal_age_type'] = dataset['cal_age_type'].replace(['6 to 17 years'],'Teen')
dataset['cal_age_type'] = dataset['cal_age_type'].replace(['0 to 5 years'],'Child')
print(dataset['cal_age_type'].unique())

['adult' 'Teen' 'Child']

In [ ]:
dataset.head()

      hh_id              state_hr  ... cal_education_yrs cal_correct_card
0  77051739  Jammu & Kashmir_HR 1  ...                17              Yes
1  77051739  Jammu & Kashmir_HR 1  ...                 9              Yes
2  77051739  Jammu & Kashmir_HR 1  ...                12              Yes
3  77051739  Jammu & Kashmir_HR 1  ...                12               No
4  77051739  Jammu & Kashmir_HR 1  ...                10              Yes

[5 rows x 36 columns]

In [ ]:
dataset.drop(['state_hr'], axis = 1, inplace = True)
dataset.head()

      hh_id country  ... cal_education_yrs cal_correct_card
0  77051739   India  ...                17              Yes
1  77051739   India  ...                 9              Yes
2  77051739   India  ...                12              Yes
3  77051739   India  ...                12               No
4  77051739   India  ...                10              Yes

[5 rows x 35 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575127 entries, 0 to 575126
Data columns (total 35 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   hh_id                                          575127 non-null  int64
 1   country                                        575127 non-null  object
 2   state                                          575127 non-null  object
 3   district_name                                  575127 non-null  object
 4   region_type                                    575127 non-null  object
 5   state_of_origin                                575127 non-null  object
 6   town_village                                   575127 non-null  object
 7   gender                                         575127 non-null  object
 8   literacy                                       575127 non-null  object
 9   occupation                                     575127 non-null  object
 10  education                                      575127 non-null  object
 11  employment_status                              575127 non-null  object
 12  has_aadhaar                                    575127 non-null  object
 13  correct_name                                   575127 non-null  object
 14  correct_dob                                    575127 non-null  object
 15  correct_gender                                 575127 non-null  object
 16  correct_address                                575127 non-null  object
 17  correct_photo                                  575127 non-null  object
 18  correct_mobile                                 575127 non-null  object
 19  used_other_employment_schemes                  575127 non-null  object
 20  used_scholarships                              575127 non-null  object
 21  used_open_bank_account                         575127 non-null  object
 22  used_insurance                                 575127 non-null  object
 23  used_debt_loan                                 575127 non-null  object
 24  used_sim_phone                                 575127 non-null  object
 25  used_school_college                            575127 non-null  object
 26  used_get_another_id                            575127 non-null  object
 27  used_job_application                           575127 non-null  object
 28  used_age_proof                                 575127 non-null  object
 29  used_land_vehicle_house_marriage_registration  575127 non-null  object
 30  cal_age_in_yrs                                 575127 non-null  float64
 31  cal_age_type                                   575127 non-null  object
 32  cal_employment                                 575127 non-null  object
 33  cal_education_yrs                              575127 non-null  int64
 34  cal_correct_card                               575127 non-null  object
dtypes: float64(1), int64(2), object(32)
memory usage: 153.6+ MB

In [ ]:
dataset.to_csv("AdharDataset.csv")